:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{margin:0;}
iframe{      
  display: block;  /* iframes are inline by default */   
  height: 100vh;  /* Set height to 100% of the viewport height */   
  width: 100vw;  /* Set width to 100% of the viewport width */     
  border: none; /* Remove default border */
  background: rgba(46, 52, 58, 0); /* Just for styling */
}